*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.players{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 40px;
}
.player1-area{
    height: 400px;
    width: 400px;
    background-color: lightgrey;
}
.player2-area{
    height: 400px;
    width: 400px;
    background-color: lightgrey;
}